nav#nav-main.navbar.navbar-expand-lg.navbar-dark.myNav-home.fixed-top
  a.navbar-brand.link-my-brand(href="#my")
    i.fa.fa-star(aria-hidden="true") &nbsp; m .
  button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    data-target="#nav-main-content"
    aria-controls="nav-main-content"
    aria-expanded="false"
    aria-label="Toggle navigation")
      span.navbar-toggler-icon
  div#nav-main-content.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      each item in helpers.navigation
        li.nav-item
          if (currentPath === '/')
            a.link-my.nav-link(href=`${item.href}`) #{item.name}
          else
            a.link-my.nav-link(href=`${baseUrl}${item.href}` data-scroll=`${entry.dataScroll}`) #{item.name}

//- OLD WAY
//- nav#nav-main.navbar.navbar-expand-lg.navbar-dark.myNav-home.fixed-top
//-   a.navbar-brand.link-my-brand(href="#my")
//-     i.fa.fa-star(aria-hidden="true") &nbsp; m .
//-   button.navbar-toggler(
//-     type="button"
//-     data-toggle="collapse"
//-     data-target="#nav-main-content"
//-     aria-controls="nav-main-content"
//-     aria-expanded="false"
//-     aria-label="Toggle navigation")
//-       span.navbar-toggler-icon
//-   div#nav-main-content.collapse.navbar-collapse
//-     ul.navbar-nav.mr-auto
//-       each entry in helpers.navigation
//-         li.nav-item
//-           a.link-my.nav-link(
//-           data-scroll=`${entry.dataScroll}`
//-           href=`${entry.href}`
//-           class=(currentPath === entry.href ? 'active' : '')
//-           ) #{entry.name}
